li#rootmenu:hover ul#submenu{

visibility: visible;
animation: slideDown 0.75s ease;
}
#check:checked ~ .nav .navmenu {
    display: block;
    animation: slideDown 0.75s ease;
}

#check:checked ~ .nav .iconmenu{
    display: block;
    animation: slideInRight 0.5s ease;
}

.nav li{
    position: relative;
}
#toggle:checked ~ .update{

    display: flex ;
    flex-direction: column;
}
.update p {
    font-size: 15px;
    font-weight: 700;
    
    
}

@keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1  ;
      transform: translateY(0);
    }
  }

  @keyframes slideInRight {
    from {
      margin-left: 0%;
      opacity: 0;
    }
    to {
      margin-left: 30%;
      opacity: 1;
    }
  }